div{background:url(../images/jason.jpg);}
h2{background:#26a69a;padding:5px;margin:0px;color:white}
ul{margin:0px;padding:0px;list-style:none;font-family:Courier;}
li{line-height:30px;border-bottom:1px solid #ccc;color:#0f0;}